# --------------------------------------
CRAWL4AI_PORT = 11235
# --------------------------------------
SEARXNG_BIND_ADDRESS = "0.0.0.0"
SEARXNG_PORT = 8080
# Prod Environment
SEARXNG_HOST = "http://searxng"
# Dev Environment
# SEARXNG_HOST = "http://host.docker.internal"
# --------------------------------------
# SearXNG MCP Port
SEARXNG_MCP_PORT = 8081
