# --------------------------------------
CRAWL4AI_PORT = 11235
CRAWL4AI_MCP_HOST = "host.docker.internal"
# --------------------------------------
SEARXNG_BIND_ADDRESS = "0.0.0.0"
SEARXNG_PORT = 8080
# Prod Environment
# SEARXNG_HOST = "searxng"
# Dev Environment
SEARXNG_HOST = "host.docker.internal"
# --------------------------------------
# SearXNG MCP Port
SEARXNG_MCP_PORT = 8000
